// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-image: url(../images/flower-back0181.jpg);
  background-repeat: repeat;
  background-size: contain;
}


.ta-l {
  text-align: left;
  vertical-align: middle;
}

.bg-ground{
  background-color: rgba(255,255,238,0.7);
  padding: 6% 0%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dancing Script', serif;
}

input{
  font-size: 16px;
}

.btn-circle-stitch {
  display: inline-block;
  text-decoration: none;
  background: #8cd460;
  color: #FFF;
  font-size: 13px;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #8cd460;
  border: dashed 2px #FFF;
  transition: .4s;
}

.btn-circle-stitch:hover {
  background: #518034;
  border: dashed 2.5px #FFF;
  box-shadow: 0px 0px 0px 5px #518034;
}

.btn-circle-stitch2 {
  display: inline-block;
  text-decoration: none;
  background: #fdb035;
  color: #FFF;
  font-size: 13px;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 5px #fdb035;
  border: dashed 2px #FFF;
  transition: .4s;
}

.btn-circle-stitch2:hover {
  background: #c78a2a;
  border: dashed 2.5px #FFF;
  box-shadow: 0px 0px 0px 5px #c78a2a;
}